profiles {
    test {
        params.input_data = "${launchDir}/data/*/"

        params.filter = [
            min_genes: 500, // Minimum genes per cell
            min_cells: 200, // Minimum cells per gene
            max_mt_pct: 5   // Mitochondrial read percentage
        ]
    }
}

conda.enabled = true